# Misc
**/.DS_Store
**/__pycache__/
**/.vscode/
**/.pytest_cache/
**/*.log

# Python and builds
**/.Python
**/build/
build/
**/_build/
**/dist/
**/eggs/
**/*.egg
**/*.egg-info/

# Environments
**/.env
**/.venv
**/venv/
**/env/

# C/C++ Files
**/*.o
**/*.d
**/*.elf
**/*.hex
**/*.bin
**/*.map
**/*.obj
**/*.out
**/*.exe
**/a.out
**/*.pcm

